.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  25% { transform: translate(-20px, -25px); }
  50% { transform: translate(20px, -30px); }
  75% { transform: translate(-25px, -25px); }
}

.floating {
  animation: float 6s ease-in-out infinite;
}


/* Add to your CSS file */
.bubble {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #add8e6; /* Light blue background */
  color: white;
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  cursor: pointer;
  /* animation-name: float;
  animation-duration: var(--animation-duration, 6s);  */
  animation-timing-function: ease-in-out; 
  animation-iteration-count: infinite;
  text-decoration: none; /* Remove underline from links */
  z-index: 1024;
}

.bubble.float1 {animation: float1 6s infinite ease-in-out; }
.bubble.float2 {animation: float2 8s infinite ease-in-out; }
.bubble.float3 {animation: float3 5s infinite ease-in-out; }

@keyframes float1 {
  0%, 100% { transform: translate(0, 0); }
  25% { transform: translate(20px, -30px); }
  50% { transform: translate(-15px, -45px); }
  75% { transform: translate(15px, -30px); }
}


@keyframes float3 {
  0%, 100% { transform: translate(0, 0); }
  25% { transform: translate(-20px, -25px); }
  50% { transform: translate(20px, -30px); }
  75% { transform: translate(-25px, -25px); }
}

@keyframes float2 {
  0%, 100% { transform: translate(0, 0); }
  25% { transform: translate(15px, -20px); }
  50% { transform: translate(-20px, -30px); }
  75% { transform: translate(10px, -20px); }
}

.bubble:hover span {
  display: inline-block;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


.story-frame {
  background-color: #fff; /* Ensure contrast against the bg-blue-100 */
  margin: 2rem; /* Adjust based on your layout preferences */
  padding: 2rem; /* Provides space inside the frame */
  border-radius: 60px; /* Soft rounded corners for the frame */
  box-shadow: 0 14px 16px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Optional: Specific styles for the resume bubble */
.bubble.resume {
  background-color: #4A90E2; /* Example: A different background color */
  /* Add any other styles or distinctions */
}

/* Add this to your main.css or create a ScrollToTop.module.css */
.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 50px;
  background-color: #ddd;
  color: #333;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 1000;
}

.project-modal-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 28px;
  position: relative;
  width: 80%; /* Or a specific width like 600px */
  max-width: 900px; /* Adjust based on your preference */
  max-height: 70vh; /* Prevent it from being too tall */
  overflow-y: auto; /* Allows scrolling within the modal if content is long */
  z-index: 1050; /* Ensures it's above everything else */
  margin: auto; /* Centers the modal vertically and horizontally */
  display: flex;
  flex-direction: column;
}

.header {
  padding: 5rem 1rem; /* Default smaller padding */
}

@media (min-width: 768px) {
  .header {
    padding: 10rem 2rem; /* Medium screens */
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 20rem 4rem; /* Larger screens */
  }
}

.header h1 {
  font-size: 1.5rem; /* Default */
}

@media (min-width: 768px) {
  .header h1 {
    font-size: 2rem; /* Medium screens */
  }
}

@media (min-width: 1024px) {
  .header h1 {
    font-size: 3rem; /* Larger screens */
  }
}

.project-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.project-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

.project-modal-header {
  font-size: 28px; /* Increase font size */
  font-weight: 700; /* Increase font weight for boldness */
  margin-bottom: 20px;
}

.project-modal-image {
  width: 90%;
  height: auto;
  margin-bottom: 20px;
}

.project-modal-details {
  margin-bottom: 20px;
}

.project-modal-link {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 10px;
}

.project-modal-close-btn {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
}

/* define the animation - glittering css style hot pink*/
/* @keyframes glitter {
  0%, 100% {
    color: #ffffff;
    text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
  }
  50% {
    color: #ff00ff;
    text-shadow: 0 0 20px #ffe9e9, 0 0 30px #ff007f, 0 0 40px #ff007f, 0 0 50px #ff007f, 0 0 60px #ff007f, 0 0 70px #ff007f, 0 0 80px #ff007f;
  }
}

.glittering-text {
  animation: glitter 2s linear infinite;
} */

@keyframes glitter {
  0%, 100% {
    color: #E0FFFF; /* Light Cyan, similar to baby blue */
    text-shadow: 
      0 0 5px #E0FFFF, 
      0 0 10px #ADD8E6, /* Light Blue */
      0 0 15px #87CEFA, /* Light Sky Blue */
      0 0 20px #B0E0E6; /* Powder Blue */
  }
  50% {
    color: #ADD8E6; /* Light Blue */
    text-shadow: 
      0 0 10px #E0FFFF, 
      0 0 15px #87CEFA, /* Light Sky Blue */
      0 0 20px #B0E0E6, /* Powder Blue */
      0 0 25px #87CEEB; /* Sky Blue */
  }
}

.glittering-text {
  animation: glitter 4s linear infinite;
}

/* heartbeat effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.pulse-button {
  animation: pulse 2s infinite;
  /* Button styles */
  background-color: #007bff; /* Example color: pink */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.pulse-button:hover {
  background-color: #ff6eb4; /* Darker pink on hover */
}


/* bounce effect */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce-button {
  animation: bounce 2s infinite;
  /* Button styles */
  background-color: #4CAF50; /* Example color: green */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.bounce-button:hover {
  background-color: #45a049; /* Darker green on hover */
}



/* shimmer effect */
.shimmer-text {
  position: relative;
  color: #212121; /* Dark text color for contrast */
  background-color: #ffffff; /* Assuming a white background */
  overflow: hidden;
}

.shimmer-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 25%, /* Light shimmer */
    rgba(255, 255, 255, 0.8) 50%, /* Brighter center */
    rgba(255, 255, 255, 0.5) 75%, /* Light shimmer */
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 3s infinite linear;
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}



/* shadow box frame */
.shadow-box-frame {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
  border: 4px solid #add8e6; /* White border for contrast */
  border-radius: 50%; /* Circular photo */
  display: inline-block;
  margin: 20px; /* Adjust spacing around the frame */
}

.rotating:hover {
  transform: rotate(5deg);
  transition: transform 0.2s ease-in-out;
}

/* glitter background */
@keyframes glitterBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.glitter-bg {
  animation: glitterBackground 30s ease infinite;
  background: linear-gradient(270deg, #b6d0e2, #89abd9, #b6d0e2, #89abd9);
  background-size: 400% 400%;
}

/* glow effect */
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 8px rgba(173, 216, 230, 0.7);
  }
  50% {
    box-shadow: 0 0 20px rgba(173, 216, 230, 1);
  }
}

.bubble {
  /* Existing styles */
  animation: glow 3s infinite ease-in-out;
}

.bubble:hover {
  background-color: #87CEFA; /* A slightly different shade for hover */
  border: 2px solid #ffffff; /* White border for contrast */
}

/*contact icons*/
.contact-section {
  text-align: center;
  padding: 20px;
}

.contact-icons {
  margin-top: 20px;
}

.contact-icon {
  margin: 10px;
  color: #0077B5; /* LinkedIn blue color; adjust as needed */
  text-decoration: none;
  font-size: 24px; /* Adjust icon size as needed */
}

.contact-icon:hover {
  color: #005691; /* Darker LinkedIn color for hover effect */
}


.bio-photo-container {
  display: inline-block;
  position: relative;
}

.greeting-bubble {
  position: absolute;
  bottom: 70%;
  left: 70%;
  transform: translateX(-50%) translateY(-10px); /* Adjust for visual appeal */
  background-color: #ff6eb4; /* Light blue background */
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 

  display: none; /* Hidden initially */
  white-space: nowrap;
}

.bio-photo-container:hover .greeting-bubble {
  display: block; /* Show the greeting bubble on hover */
}

/*project-container*/
.project-container {
  transition: transform 0.3s ease-in-out; /* Smooth transition for the transform property */
  display: inline-block; /* or as per your layout */
  margin: 0.5rem; /* or as per your layout */
  /* your existing styles */
}

.project-container:hover {
  transform: scale(1.10); /* Slightly increase the size */
  z-index: 10; /* Ensure the hovered item is above others if they overlap */
}

.project-container img {
  width: 100%; /* Maintain full width */
  height: 150px; /* Adjust height as needed to make image appear smaller */
  object-fit: cover; /* Cover the container without losing aspect ratio */
}
