.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* .floating-element {
  z-index: -1;
  animation: float 6s ease-in-out infinite;
  display: inline-block;
} */


/* Add to your CSS file */
.bubble {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #add8e6; /* Light blue background */
  color: white;
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  /* animation-name: float;
  animation-duration: var(--animation-duration, 6s);  */
  animation-timing-function: ease-in-out; 
  animation-iteration-count: infinite;
  text-decoration: none; /* Remove underline from links */
  z-index: 1024;
}

.bubble.float1 {animation: float1 6s infinite ease-in-out; }
.bubble.float2 {animation: float2 8s infinite ease-in-out; }
.bubble.float3 {animation: float3 5s infinite ease-in-out; }

@keyframes float1 {
  0%, 100% { transform: translate(0, 0); }
  25% { transform: translate(20px, -30px); }
  50% { transform: translate(-15px, -45px); }
  75% { transform: translate(15px, -30px); }
}


@keyframes float3 {
  0%, 100% { transform: translate(0, 0); }
  25% { transform: translate(-20px, -25px); }
  50% { transform: translate(20px, -30px); }
  75% { transform: translate(-25px, -25px); }
}

@keyframes float2 {
  0%, 100% { transform: translate(0, 0); }
  25% { transform: translate(15px, -20px); }
  50% { transform: translate(-20px, -30px); }
  75% { transform: translate(10px, -20px); }
}

.story-frame {
  background-color: #fff; /* Ensure contrast against the bg-blue-100 */
  margin: 2rem; /* Adjust based on your layout preferences */
  padding: 2rem; /* Provides space inside the frame */
  border-radius: 80px; /* Soft rounded corners for the frame */
  box-shadow: 0 14px 16px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Optional: Specific styles for the resume bubble */
.bubble.resume {
  background-color: #4A90E2; /* Example: A different background color */
  /* Add any other styles or distinctions */
}

/* Add this to your main.css or create a ScrollToTop.module.css */
.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 50px;
  background-color: #ddd;
  color: #333;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 1000;
}

/* .blur-effect {
  filter: blur(8px);
} */

.project-modal-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 28px;
  position: relative;
  width: 80%; /* Or a specific width like 600px */
  max-width: 900px; /* Adjust based on your preference */
  max-height: 70vh; /* Prevent it from being too tall */
  overflow-y: auto; /* Allows scrolling within the modal if content is long */
  z-index: 1050; /* Ensures it's above everything else */
  margin: auto; /* Centers the modal vertically and horizontally */
  display: flex;
  flex-direction: column;
}

.header {
  padding: 5rem 1rem; /* Default smaller padding */
}

@media (min-width: 768px) {
  .header {
    padding: 10rem 2rem; /* Medium screens */
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 20rem 4rem; /* Larger screens */
  }
}

.header h1 {
  font-size: 1.5rem; /* Default */
}

@media (min-width: 768px) {
  .header h1 {
    font-size: 2rem; /* Medium screens */
  }
}

@media (min-width: 1024px) {
  .header h1 {
    font-size: 3rem; /* Larger screens */
  }
}

.project-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.project-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

.project-modal-header {
  font-size: 28px; /* Increase font size */
  font-weight: 700; /* Increase font weight for boldness */
  margin-bottom: 20px;
}

.project-modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.project-modal-details {
  margin-bottom: 20px;
}

.project-modal-link {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 10px;
}

.project-modal-close-btn {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
}
